@import url('https://fonts.googleapis.com/css2?family=Amaranth:ital,wght@0,400;0,700;1,400;1,700&display=swap');



/*RESET*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul,
li {
    list-style: none;


}

a {
    text-decoration: none;
    color: inherit;
}


/*END OF RESET*/



:root {

    /*FONTS*/
    --f-heading-xl: normal 3rem 'Amaranth', sans-serif, serif;
    --f-heading-lg: normal 2.25rem 'Amaranth', sans-serif, serif;
    --f-heading-md: normal 1.75rem 'Amaranth', sans-serif, serif;
    --f-heading-sm: 500 1.125rem 'Amaranth', sans-serif, serif;
    --f-heading-xs: 500 1rem 'Amaranth', sans-serif, serif;
    --f-body: normal .875rem 'Amaranth', sans-serif, serif;
    --f-link: 500 1rem 'Amaranth', sans-serif, serif;
    --f-link-xs: 500 .75rem 'Amaranth', sans-serif, serif;

    /*COLORS*/

    --c-text: #54565a;
    --c-active: #FFE300;
    --c-hover: #16043B;
    --c-hover-light: #F6F3C2;
    --c-background: #ffebbb;
    --c-title-btn: #AB0033;
    --c-title: #23085A;


    /*SPACING*/
    --s-xxl: 8rem;
    --s-xl: 4rem;
    --s-lg: 3rem;
    --s-md: 2rem;
    --s-mmd: 1.25rem;
    --s-sm: 1rem;
    --s-xs: .5625rem;
    --s-xxs: .5rem;


    /*sIZES*/
    --mw-xl: 75rem;
    --mw-lg: 60.625rem;

    /*RADIUS*/

    --r-xl: 6rem;
    --r-md: 3rem;
    --r-sm: .3125rem;


}

/*------------------*/

/*ElEMENTS*/

.text--xl {
    font: var(--f-heading-xl);
}

.text--lg {
    font: var(--f-heading-lg);
}

.text--md {
    font: var(--f-heading-md);
}

.text--sm {
    font: var(--f-heading-sm);
}

.text--xs {
    font: var(--f-heading-xs);
}

.body,
p {
    font: var(--f-body);
}

.link {
    font: var(--f-link);
}

.link-xs {
    font: var(--f-link-xs);
}

.btn--squared {
    font: var(--f-link);
    background-color: var(--c-title-btn);
    color: var(--c-active);
    padding: var(--s-xs) var(--s-mmd);
    display: inline-block;
    border-radius: .25rem;

    &:hover {
        background-color: var(--c-hover-light);
        color: var(--c-hover);

    }

}

.btn--light {
    font: var(--f-link);
    background-color: var(--c-hover-light);
    color: var(--c-hover);
    padding: var(--s-xs) var(--s-mmd);
    display: inline-block;
    border-radius: .25rem;

}


.btn--dropdown {
    font: var(--f-link);
    background-color: transparent;
    color: var(--c-hover);
    padding: var(--s-xs) var(--s-mmd);
    display: inline-block;

    &:hover {
        background-color: whitesmoke;


    }

}


.btn--rounded {
    font: var(--f-link);
    background-color: var(--c-title-btn);
    color: var(--c-active);
    padding: var(--s-xs) var(--s-md);
    border-radius: var(--r-xl);
    display: inline-block;

    &:hover {
        background-color: var(--c-hover-light);
        color: var(--c-hover);

    }


}



/* SECTION ELEMENTS*/

.section {
    padding: var(--s-xl) var(--s-sm);

}

.container {
    max-width: var(--mw-xl);
    margin: 0 auto;
}


body {
    margin: 0;
    background: linear-gradient(180deg,
            #FFE300 0%,
            #FF8200 5%,
            #FF4635 84%);
}

header,
.banner {
    background: transparent;
}

/*------------------*/

.text-block {

    justify-content: center;
    align-items: center;
    gap: var(--s-lg);

    & div {
        flex: 1 0 0;
    }

    & img {
        flex: 1 0 0;

    }

}

/*--------------------------------------*/


/*HEADER*/


.header___nav {

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0;
    gap: 1.25rem;
    min-height: 10.5rem;

    .header__nav__nav-register {
        display: flex;
        justify-content: flex-end;
        gap: .1875rem;

        /*COLAPSIBLE SEARCH-BAR*/
        .colapsible__block {
            position: relative;
            display: flex;
            align-items: center;
            justify-content: flex-end;
            cursor: pointer;
            width: max-content;

        }

        .search-icon {
            width: 2.5rem;
            height: 2.5rem;
            background-color: white;
            display: flex;
            align-items: center;
            justify-content: center;
            z-index: 10;


            .ri-search-line {
                font-weight: bolder;
            }
        }


        .colapsible-searchbar {
            position: absolute;
            right: 100%;
            top: 50%;
            transform: translateY(-50%) scaleX(0);
            transform-origin: right;
            transition: width 0.4s ease;
            background: transparent;

            display: flex;
            align-items: center;

        }

        .colapsible-searchbar input {
            width: 12.5rem;
            height: 2.5rem;
            border: none;
            outline: none;
            padding: .5rem .625rem;
            background-color: white;


        }

        .colapsible-bubble {
            position: absolute;
            right: calc(100% + 13.125rem);
            top: 50%;
            transform: translateY(-50%) scaleX(0);
            transform-origin: right;
            overflow: hidden;
            transition: width 0.4s ease, opacity 0.3s ease;
            background: transparent;
            opacity: 0;

            display: flex;
            align-items: center;
            justify-content: flex-end;




            .bubble-info {
                display: flex;
                align-items: center;
                justify-content: center;
                position: relative;

                min-width: 15rem;
                height: 2.5rem;
                border-radius: var(--r-sm);
                color: white;
                background-color: black;
                padding: var(--s-sm);
                white-space: nowrap;


                p {
                    text-align: center
                }

            }

        }


        .ri-arrow-right-s-fill {

            position: absolute;
            right: 14.25rem;
            top: 50%;
            transform: translateY(-50%) scale(0.8);
            font-size: 2rem;
            color: black;
            z-index: 10;
            opacity: 0;
            transition: transform 0.2s ease, opacity 0.2s ease;





        }


        .colapsible__block:hover .colapsible-searchbar,
        .colapsible__block:focus-within .colapsible-searchbar {
            transform: translateY(-50%) scaleX(1);
            height: 2.5rem;


        }


        .colapsible__block:focus-within .colapsible-bubble {
            transform: translateY(-50%) scaleX(1);
            opacity: 1;



        }

        .colapsible__block:focus-within .ri-arrow-right-s-fill {
            transform: translateY(-50%) scale(1);
            opacity: 1;
        }


    }

    /*END OF COLAPSIBLE SEARCH-BAR*/


    .header__nav__nav-logos {
        display: flex;
        align-items: center;
        gap: 2.5rem;


        .logo-BC {
            width: 7.5rem;
            height: 2.125rem;
        }



        .logo-Title {
            color: var(--c-title);
            font-weight: bold;

            &:hover {
                color: var(--c-hover);
            }

            position: relative;
            padding-left: 30px;


        }

        .logo-Title::before {
            content: '';
            width: .125rem;
            height: 2.375rem;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            left: 0;
            background-color: #23085A;
        }

    }

    .header__nav__nav-default {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: .1875rem;

        li {
            a {
                display: inline-block;
                white-space: nowrap;
            }
        }


        /* DROPDOWN MENU*/

        .btn-dropdown-main {
            position: relative;




            .dropdown-menu {
                position: absolute;
                top: 100%;
                left: 0;
                background-color: var(--c-hover-light);
                box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
                display: grid;
                grid-template-rows: 0fr;
                z-index: 1000;
                min-width: 100%;
                width: max-content;

                transition: grid-template-rows 0.4s ease-out;

                .dropdown-links {
                    overflow: hidden;
                    display: flex;
                    flex-direction: column;


                }


            }

            &:hover .dropdown-menu {
                grid-template-rows: 1fr;




            }



        }

    }

}

/*END DROPDOWN MENU*/

/*END OF HEADER*/


/*BANNER-TOP*/

.banner {


    .banner-top {
        position: relative;
        min-height: 25.8125rem;
        overflow: hidden;


        .banner-top-image {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;


            z-index: 1;

            img {
                width: 100%;
                height: 100%;
                border-top-right-radius: var(--r-md);
                object-fit: cover;

            }
        }

        .banner-top-content {

            display: flex;
            flex-direction: column;
            gap: 16px;

            position: absolute;

            z-index: 2;
            width: 100%;
            max-width: 28.75rem;
            min-height: 13.75rem;
            padding: 1.875rem 2.1875rem 3.125rem;
            background-color: #FFE300;
            border-top-right-radius: 3.125rem;
            left: 5.25rem;
            bottom: 5rem;


            h1 {

                color: var(--c-title-btn)
            }


            ::before {
                content: "";
                width: 5.25rem;
                height: 100%;
                background-color: #23085A;
                transform: skew(0deg, -45deg);
                position: absolute;
                right: 100%;
                top: 2.625rem;
            }


            ::after {
                content: "";
                width: 100%;
                height: 5rem;
                background-color: #FF8200;
                transform: skew(-45deg, 0deg);
                position: absolute;
                left: -2.5rem;
                top: 100%;
            }



        }


    }
}

/* END OF BANNER-TOP*/



/*HERO*/

.hero {

    background-color: var(--c-background);

    .hero__block {
        max-width: 46.875rem;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: var(--s-xl) 0;





        h2 {
            color: var(--c-title);
            padding: 0 0 var(--s-mmd) 0;
        }

        p {
            line-height: 2.1875rem;

            a {
                color: var(--c-title-btn);

                &:hover {
                    text-decoration: underline;

                }



            }


        }
    }

}

/*END OF HERO */

/*--------------------------------------*/
/*GRID SECTION*/

.grid {

    .grid-cards__block {

        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(21.25rem, 1fr));
        grid-auto-rows: 1fr;
        gap: 6rem .625rem;
        margin: var(--s-xl) auto;
        padding: var(--s-lg) 0 0 0;



        .card {

            max-width: 23rem;
            width: 100%;
            height: auto;

            display: flex;
            flex-direction: column;
            background-color: white;
            background: linear-gradient(180deg, #ffe300 -20%, #ff651a 80%);
            border-radius: 3.125rem 3.125rem 0 0;
            overflow: visible;



            .card-image {
                position: relative;
                min-height: 8.75rem;


                img {

                    object-fit: cover;
                    position: absolute;
                    bottom: 0;
                    left: 50%;
                    transform: translateX(-50%);
                    max-width: 90%;
                }
            }



            .card__info {
                display: flex;
                flex-direction: column;
                padding: 1.875rem 1.875rem;
                background-color: var(--c-active);
                border-radius: 0 0 3.125rem 0;
                height: 13.8125rem;


                .card-content {

                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    gap: var(--s-xs);
                    flex: 1 0 auto;


                    h3 {
                        color: var(--c-title-btn);
                        padding-bottom: var(--s-xs);
                    }

                    p {
                        text-align: left;
                        line-height: 1.5rem;
                        padding-bottom: var(--s-md);

                    }

                }

                a {
                    align-self: center;
                    margin-top: auto;
                    width: 60%;
                    text-align: center;

                }


            }





        }


    }


}

/*END OF GRID SECTION*/

/*BANNER MIDDLE*/

.banner-middle {
    position: relative;
    min-height: 18.75rem;
    overflow: hidden;
    /* margin-top: var(--s-xl); */
    background: linear-gradient(180deg, #ffe300 -20%, #ff651a 80%);
    padding: var(--s-md) 0 0 0;


    .banner-middle-background {
        position: relative;
        min-height: 31.25rem;
        overflow: hidden;

        &::before {
            content: "";
            background-image: url("../images/banner-backgrd.png");
            background-repeat: no-repeat;
            background-position: 20% top;
            background-size: contain;
            width: 28.25rem;
            height: 28rem;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            left: 63%;
            display: block;

        }

        .banner-middle__block {

            width: 100%;
            max-width: 43.75rem;
            min-height: 20.9375rem;
            padding: 2.8125rem 2.5rem;
            background-color: #FFE300;
            border-top-right-radius: 3.125rem;
            position: absolute;
            left: 10%;
            bottom: 7.8125rem;

            &::before {
                content: "";
                width: 84px;
                height: 100%;
                background-color: #23085A;
                transform: skew(0deg, -45deg);
                position: absolute;
                right: 100%;
                top: 42px;
                width: 134px;
                top: 68px;
            }

            &::after {
                content: "";
                width: 100%;
                height: 80px;
                background-color: #FF8200;
                transform: skew(-45deg, 0deg);
                position: absolute;
                left: -40px;
                top: 100%;
                height: 127px;
                left: -63px
            }


            p {

                padding: var(--s-xs) var(--s-xxl) var(--s-mmd) 0;
                color: var(--c-title-btn);
            }

            a {
                align-self: center;
                margin-top: auto;
                width: 30%;
                text-align: center;

            }

        }
    }
}

/* END OF BANNER MIDDLE*/

/*BLOG*/

.blog {

    background-color: var(--c-hover-light);
    padding: var(--s-sm) var(--s-sm);

    .blog__block {



        .blog__cards-content {

            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            gap: var(--s-md);
            margin: var(--s-xl) auto;
            padding: 0;


            h2 {
                color: var(--c-title);
                padding: var(--s-sm) 0 var(--s-sm) 0;
                width: 100%;
                max-width: 65.5rem;
                text-align: left;
                position: relative;

                &::before {
                    content: "";
                    width: 3.125rem;
                    height: .25rem;
                    position: absolute;
                    top: 0;
                    left: 0;
                    background: #23085A;
                    border-radius: .3125rem;
                }


            }

            /*CARDS CONTAINER PARA CARROUSEL JS*/
            #card-container {
                display: flex;
                align-items: stretch;
                width: 100%;
                overflow: hidden;
                gap: 0;
                padding: 2rem 0;
            }


            .blog__card {
                display: flex;
                flex-direction: column;
                align-items: center;
                flex: 1;
                max-width: 31.25rem;
                margin-right: 2rem;

                position: relative;
                overflow: visible;

                .blog__card-inner {
                    background-color: #ff9a3c;
                    border-radius: var(--r-sm);
                    height: 100%;
                    min-height: 15.625rem;
                    overflow: hidden;
                    transition: transform 0.3s ease,
                        box-shadow 0.3s ease;
                    border: 2px solid transparent;

                    img {
                        display: block;
                        margin: 0 auto;
                        border-radius: var(--r-md);
                        padding: var(--s-sm);
                        width: 80%;
                        height: auto;
                        object-fit: cover;
                    }

                    .description {

                        .text--md {
                            text-align: center;

                        }

                        p {
                            text-align: left;
                            line-height: 1.5rem;
                            padding: var(--s-sm) var(--s-md);
                        }
                    }

                }



            }

            .blog__card-link {
                display: block;
                width: 100%;
                height: 100%;
                text-decoration: none;
                color: inherit;
            }


            /*  CARD AUMENTA TAMAÑO AL HACER HOVER PARA EVENTO JS*/

            .blog__card:hover .blog__card-inner,
            .blog__card.active .blog__card-inner {
                transform: scale(1.05) translateY(-8px);
                box-shadow: 0 8px 25px rgba(35, 8, 90, 0.35);
            }


            .blog__card.active .blog__card-inner {
                transform: scale(1.05) translateY(-8px);
                border-color: orange;
                box-shadow: 0 8px 25px rgba(35, 8, 90, 0.35);
                z-index: 10;
            }






        }

    }
}



/*END OF BLOG*/


/*BANNER BOTTOM*/

.banner-bottom {
    position: relative;
    min-height: 18.75rem;
    overflow: hidden;
    /* margin-top: var(--s-xl); */
    background: linear-gradient(180deg, #ffe300 -20%, #ff651a 80%);
    padding: var(--s-md) 0 0 0;


    .banner-bottom-background {
        position: relative;
        min-height: 31.25rem;
        overflow: hidden;

        &::before {
            content: "";
            background-image: url("../images/teacher1.avif");
            background-repeat: no-repeat;
            background-position: 20% top;
            background-size: contain;
            width: 28.25rem;
            height: 28rem;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            left: 63%;
            display: block;

        }

        .banner-bottom__block {

            width: 100%;
            max-width: 43.75rem;
            min-height: 20.9375rem;
            padding: 2.8125rem 2.5rem;
            background-color: #FFE300;
            border-top-right-radius: 3.125rem;
            position: absolute;
            left: 10%;
            bottom: 7.8125rem;

            &::before {
                content: "";
                width: 84px;
                height: 100%;
                background-color: #23085A;
                transform: skew(0deg, -45deg);
                position: absolute;
                right: 100%;
                top: 42px;
                width: 134px;
                top: 68px;
            }

            &::after {
                content: "";
                width: 100%;
                height: 80px;
                background-color: #FF8200;
                transform: skew(-45deg, 0deg);
                position: absolute;
                left: -40px;
                top: 100%;
                height: 127px;
                left: -63px
            }


            p {

                padding: var(--s-xs) var(--s-xxl) var(--s-mmd) 0;
                color: var(--c-title-btn);
            }

            a {
                align-self: center;
                margin-top: auto;
                width: 30%;
                text-align: center;

            }

        }
    }
}

/* END OF BANNER MIDDLE*/

/*FOOTER*/

.footer {
    width: 100%;
    padding: var(--s-lg) var(--s-xl);
    background-color: #c51350;




    .footer__block {


        .block {
            display: flex;
            flex-direction: row;

            .footer__block__wrapper-one,
            .footer__block__wrapper-two,
            .footer__block__wrapper-three,
            .footer__block__wrapper-four {

                display: flex;
                flex-direction: column;
                gap: var(--s-lg);
                flex: 1 0 0;

                .footer__block__menu {

                    li {
                        margin-bottom: var(--s-mmd);

                        .text--sm {

                            color: var(--c-active);
                            font-size: 1.25rem;

                            a {
                                color: var(--c-active);
                                margin: var(--s-xs) 0;


                                &:hover {
                                    text-decoration: underline;

                                }
                            }


                        }



                        .body {
                            color: white;
                            font-size: 1rem;

                            &:hover {

                                text-decoration: underline;
                            }

                        }


                    }
                }

                .social-media {
                    display: flex;
                    gap: var(--s-md);

                    .ri-facebook-circle-fill,
                    .ri-instagram-line,
                    .ri-youtube-fill {

                        font-size: 1.5rem;
                        color: white;

                    }
                }

                .trademark-info {
                    color: white;

                    .text--sm {
                        font-size: .8em;
                        font-weight: bolder;


                    }

                    .text--xs {
                        font-size: .7em;
                        line-height: 1.5rem;
                    }

                }


            }



        }



    }
}

/*END OF FOOTER*/


/* RESPONSIVE SECTION*/

/* TABLET */
@media screen and (max-width: 1024px) {

    :root {
        --mw-xl: 95%;
        --mw-lg: 90%;

        --s-xxl: 5rem;
        --s-xl: 3rem;
    }

    /* GRID SECTION */
    .grid {
        .grid-cards__block {
            grid-template-columns: repeat(auto-fit, minmax(18rem, 1fr));
            gap: 4rem 1rem;
        }
    }

    /* BANNER TOP */
    .banner {
        .banner-top {


            .banner-top-content {
                left: 2rem;
                max-width: 35rem;
                border-radius: var(--s-sm);
            }
        }
    }
}

/* PHONE  */
@media screen and (max-width: 768px) {

    :root {

        --f-heading-xl: normal 2.25rem 'Amaranth', sans-serif, serif;
        --f-heading-lg: normal 1.75rem 'Amaranth', sans-serif, serif;
        --f-heading-md: normal 1.5rem 'Amaranth', sans-serif, serif;
        --F-heading-sm: 500 .8rem 'Amaranth', sans-serif, serif;


        --s-xxl: 3rem;
        --s-xl: 2rem;
        --s-lg: 1.5rem;

        --r-xl: 2rem;
    }

    /* HEADER SECTION */
    .header___nav {
        gap: 1rem;
        padding-bottom: 1rem;

        .header__nav__nav-logos {
            flex-direction: column;
            gap: 1rem;

            .logo-Title::before {
                display: none;
            }

            .logo-Title {
                padding-left: 0;
            }
        }


        .header__nav__nav-default {
            flex-wrap: wrap;
            justify-content: center;
        }
    }

    /*BANNER TOP*/
    .banner {
        .banner-top {

            display: flex;
            flex-direction: column;

            .banner-top-image {
                position: relative;
                height: 15rem;
                padding-bottom: 1rem;

                img {
                    border-radius: var(--r-md);
                    width: 100%;
                    height: 100%;

                }



            }

            .banner-top-content {
                position: relative;
                left: 0;
                bottom: 0;
                max-width: 100%;
                width: 100%;
                border-radius: var(--r-md);
                margin-bottom: 2rem;



                &::before {
                    display: none;
                }

                &::after {
                    transform: skew(0deg, 0deg);
                    width: 100%;
                    left: 0;
                }
            }
        }
    }

    /* HERO */
    .hero {
        .hero__block {
            padding: var(--r-sm);
            align-items: center;
            text-align: center;
        }
    }

    /* GRID SECTION */
    .grid {
        padding: var(--s-md);

        .grid-cards__block {
            grid-template-columns: 1fr;
            padding: 1rem;
            gap: 3rem;

            .card {
                max-width: 100%;
                height: auto;
            }
        }
    }

    /* BANNER */
    .banner-middle {
        .banner-middle-background {
            &::before {
                display: none;
            }

            .banner-middle__block {
                position: relative;
                left: 0;
                bottom: 0;
                max-width: 100%;
                border-radius: 0;

                &::before,
                &::after {
                    display: none;
                }
            }
        }
    }
}